body {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  margin-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.spinner {
  margin-right: 15px;
  background-color: rgb(16, 34, 43);
  padding: 10px;
  color: #FFF;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.chat-wrap {
  float: left;
  background: #FFF;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border: 1px solid #e1e8ed;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}

/* Sidebar */

.sidebar-wrap {
  float: left;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.username {
  padding-left: 5px;
  color: #000;
}

/* Helpers */

.bold {
  font-weight: 700;
}

.valign {
  vertical-align: middle;
}

.centered {
  text-align: center;
}

/* Header */

.chat-home {
  position: absolute;
  padding: 5px;
  cursor: pointer;
}

.chat-home:hover {
  color: rgb(149, 171, 99);
}

.chat-header {
  font-family: "Vollkorn", sans-serif;
  background: rgb(245,245,245);
  border-bottom: 1px solid #e1e8ed;
  text-align: center;
  padding: 5px 0;
  -webkit-border-top-right-radius: 10px;
     -moz-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
     -moz-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
}

.chat-subheader {
  font-family: "Vollkorn", sans-serif;
}

/* Navigation */

.onclick-show-all {
  cursor: pointer;
  font-family: "Vollkorn", sans-serif;
}

/* Chat form */

.chat-form-wrap {
  background: rgb(230,230,235);
  padding-top: 10px;
  padding-bottom: 7px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 1px solid #e1e8ed;
}

.chat-form #name {
  width: 180px;
}

.chat-form #message {
  width: 300px;
}

/* Chatroom */

.chatrooms {
  margin-left: 10px;
}

span.chatroom {
  float: left;
  margin: 2px 4px;
  padding: 3px 4px;
  cursor: pointer;
  background-color: rgb(189, 214, 132);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* Friends */

.friends {
  margin-left: 10px;
}

span.friend-name {
  float: left;
  margin: 2px 4px;
  padding: 3px 4px;
  color: #FFF;
  background-color: rgb(149, 171, 99);
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

/* Msg */

.msg-wrap {
  border-bottom: 1px solid #e1e8ed;
  padding: 10px 10px;
}

.msg-username {
  float: left;
  font-weight: bold;
  padding-right: 0.3em;
  cursor: pointer;
  color: #4387fd;
}

.msg-roomname {
  float: left;
  font-weight: bold;
  padding-right: 0.3em;
  cursor: pointer;
  color: #4387fd;
}

.msg-text {
  word-wrap: break-word;
  max-width: 100%;
  float: left;
}

.timestamp {
  color: #999;
}

/* Footer */

.chat-footer {
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  background: rgb(245,245,245);
  color: #999;
  -webkit-border-bottom-right-radius: 10px;
     -moz-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
     -moz-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
}